.App{
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;

  

}

h1{
  color: #fff;
}

body{
  background: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
}